body,html{
    min-height: 100%;
}
body{

    background-image: url("crate.jpg");
    background-repeat: no-repeat;
    background-size: cover;

      
}

.heading{
    width: 100%;
    max-width: 960px;
    font-size: 100px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family:fantasy; 
    font-family: 'Tangerine', serif;
    font-size: 200px;
    text-shadow: 4px 4px 4px rgba(255, 196, 0, 0.804); 
    margin: 40px auto;
    text-align: center;


}
.upload-button{
    align-items: center;
    justify-content: center;
    display: flex;
}
label{
    padding: 16px 48px;
    border: 3px rgb(226, 208, 7);
    border-radius: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
}
label:hover{
    transform: scale(1.10);
}
label.active{
    color: black;
}
label span{
    font-weight: normal;
}